@media(max-width: 670px )  {
 .main {
    float: none;
    margin: 0;
    width: 100%;
  }

  .side {
     float: none;
     margin: 0;
     width: 100%;
   }

   .side h1 {
     text-align: center;
   }

   .side li {
     display: inline;
     margin-right: 50px;
   }

  header {
    background-size: cover;
    margin: 0 auto;
    width: auto;
  }

  .clearfix::after {
      content: '';
      display: none;
      clear: none;
  }
  .container {
    width: auto;
  }
  footer h1 {
    display: none;
  }
  .footer h1 {
    display: block;
    text-align: center;
    margin-top: 50px;
  }
}
