.wrapper {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  text-align: center;
}

header {
  height: 400px;
  width: 980px;
  margin: 0;
  background-image: url(img/DSC_0302.JPG);
  background-size: cover;
}

header h1 {
  text-align: center;
  margin: 0;
  font-size: 30px;
  opacity: 0.5;
}
.container {
  width: 980px;
  height: 1500px;
  margin: 0 auto;
}

clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.main {
  width: 55%;
  float: left;
  border: solid 2px red;
}
.main h1 {
  text-align: center;
}
.main img {
  width: 40%;
  float: left;
  margin-right: 10px;
}

.side {
  height: auto;
  float: right;
  border: solid 2px skyblue;
}

.side_upper {
  width: 40%;
}
.side_under {
  width: 40%;
}

footer h1 {
  text-align: center;
}

.footer h1 {
  display: none;
}
